<header class="header__container">
    <!-- <div class="container"> -->
    <div class="header__menu menu">
        
                <a href="#" class="menu__item">Home</a>
                <a href="#"class="menu__item">Product</a>
                <a href="#"class="menu__item">Pricing</a>
                <a href="#"class="menu__item">About</a>
                <a href="#"class="menu__item">Contact</a>
                </div>
    
    <div class="header__logo_main">
        <img src="../partials/img/logo.png" alt="logo">
    </div>

    <div class="header__left_side_contacts">
        <a href="#" class="header__left_side_contacts_tw"><img src="../partials/img/twitter.png" alt="tw"></a>
        <a href="#" class="header__left_side_contacts_fb"><img src="../partials/img/facebook.png" alt="fb"></a>
        <a href="#" class="header__left_side_contacts_in"><img src="../partials/img/instagram.png" alt="in"></a>
    </div>
    <div class="main__h1">
        <div class="main__text">
            <h1>The best products 
                start with Figma</h1>
            <p>Most calendars are designed for teams. Slate is designed 
                for freelancers.</p>
                <button class="button">Try For Free</button>
        </div>
    <!-- </div> -->

</header>